h1 {
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1.7em;
}

.subtitle {
  text-align: center;
  margin-top: 0;
  font-weight: 400;
  font-style: italic;
}

.icon{
  font-size: 250%;
  margin: 0 1em;
}
.center-icons{
  display: flex;
  margin: 0 auto;
  width: 100%;
  justify-content: center;
  text-align: center;
  align-items: center;
}

img.logo {
  margin: auto;
  border-radius: 10%;
  height: 8em;
/*  display: inline-block;*/
  vertical-align: middle;
}

video {
  border-radius: 1em;
}
img {
  border-radius: 1em;
}

iframe.map {
 border-radius: 1em;
 width: 100%;
 height: 20em;
}

label {
 display: inline;
}

details {
  margin: 0.25rem;
}

summary {
 color: #41adff;
}

.sitemap li {
 padding: 2px 0;
 margin-bottom: 2px;
}
.sitemap li li{
 padding: 0;
 margin-bottom: 0;
 padding-left: 3px;
}

ul {
 margin-top: 0.25rem;
 margin-bottom: 0.75rem;
}

li {
 margin-bottom: 0.25rem;
}

li li{
 padding-left: -0.2rem;
}

ol {
 padding-left: 1rem;
}

.center {
 text-align: center;
}

/*figcaption {*/
/*	position: absolute;*/
/*	bottom: -30%;*/
/*	right: 47.5%;*/
/*	margin: 0 auto;*/
/*	padding: 2px 5px;*/
/*	color: #fff;*/
/*	font-size: .6875em;*/
/*	background: #000;*/
/*	text-align: right;*/
/*	z-index: 5;*/
/*	opacity: 0.5;*/
/*	border-radius: 6px 0 0 0;*/
/*}*/

header {
  display: inline-block;
/*  text-align: center;*/
  vertical-align: middle;
  margin-left: 2em;
}

img.t-antibot{
  vertical-align: middle;
}

ul {padding-left: 1rem;}


@media (max-width: 850px) {
    h1 {
/*      font-size: 1.5em;*/
      text-align: center;
    }
      
/*    .subtitle {font-size: 0.75em;}*/
    
    img.logo {
/*      height: 5em;*/
      display: block;
    }
    
    header {
      display: block;
      margin-left: 0em;
    }
}


/*.morad-markers ul > li:nth-child(1)::marker { content: '💬'; }*/
/*.morad-markers ul > li:nth-child(2)::marker { content: '⛅'; }*/
/*.morad-markers ul > li:nth-child(3)::marker { content: '📰'; }*/
/*.morad-markers ul > li:nth-child(4)::marker { content: '🎯'; }*/
/*.morad-markers ul > li:nth-child(5)::marker { content: '🎉'; }*/


